<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @field.order %>
</p>

<p>
  <strong>Title:</strong>
  <%= @field.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @field.tipo %>
</p>

<p>
  <strong>Values:</strong>
  <%= @field.values %>
</p>

<%= link_to 'Home', root_url %> |
<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', sub_categories_path %>